body {
  background: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: 'Gotham', sans-serif;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-family: 'Gotham', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #fff;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/Gotham-Book.woff2") format("woff2"), url("../fonts/gotham/Gotham-Book.woff") format("woff"), url("../fonts/gotham/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/Gotham-Medium.woff2") format("woff2"), url("../fonts/gotham/Gotham-Medium.woff") format("woff"), url("../fonts/gotham/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/Gotham-Bold.woff2") format("woff2"), url("../fonts/gotham/Gotham-Bold.woff") format("woff"), url("../fonts/gotham/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/openSans/OpenSans-Italic.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Italic.woff") format("woff"), url("../fonts/openSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/openSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Regular.woff") format("woff"), url("../fonts/openSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.block-slide .mainer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-slide--bg-header-building {
  background-size: cover;
  background-position: center;
}

.block-slide--bg-blue-square {
  background-image: url(../images/bg/bg-page-blue.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1310px) {
  .block-slide--bg-blue-square {
    background: none;
  }
}

.block-slide--bg-purple-square {
  background-image: url(../images/bg/bg-page-purple.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1310px) {
  .block-slide--bg-purple-square {
    background: none;
  }
}

.block-slide--bg-page-building {
  background: #55b7ff;
  background-image: linear-gradient(45deg, rgba(60, 127, 212, 0.9) 0%, rgba(36, 204, 250, 0.9) 100%), url(../images/bg/latest-news-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.block-slide--bg-city {
  background: #55b7ff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 184, 255, 0.95)), to(rgba(127, 92, 253, 0.95))), url(../images/bg/bg-header-3.jpg);
  background-image: linear-gradient(90deg, rgba(85, 184, 255, 0.95) 0%, rgba(127, 92, 253, 0.95) 100%), url(../images/bg/bg-header-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.block-slide--position {
  position: relative;
}

.block-slide--fix-header {
  position: fixed;
  width: 100%;
  background-color: #006eff70;
  z-index: 10;
}

.slider {
  width: 100%;
  height: 720px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .slider {
    visibility: hidden;
  }
}

.slider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(45deg, rgba(85, 184, 255, 0.95) 0%, rgba(127, 92, 253, 0.95) 100%);
}

.slider .slide {
  display: block;
  width: 100%;
}

.slider .slide .image {
  display: block;
  width: auto;
  max-height: 100%;
}

.slider .slick-dots {
  position: absolute;
  bottom: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding: 0px;
  margin: 1px;
  list-style: none;
  text-align: center;
  z-index: 3;
  /* right: 0; */
  left: 300;
}

.slider .slick-dots li {
  padding: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header.toggled {
  min-height: 100%;
}

@media screen and (max-width: 1140px) {
  .header {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #55b8ff38;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    z-index: 10;
  }
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
  .header__logo {
    display: none;
  }
}

.header__tab {
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1140px) {
  .header__tab {
    display: none;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    padding-top: 200px;
    text-align: center;
    width: 100%;
    min-height: 100%;
    background-color: #55b8ff73;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    z-index: 10;
  }
}

.header__tab .tab-item {
  margin: 0 45px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 1140px) {
  .header__tab .tab-item {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px 0;
    color: #2c4058;
    display: block;
    font-size: 20px;
  }
}

.header__tab .tab-item:hover, .header__tab .tab-item:focus {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media screen and (max-width: 1140px) {
  .header__tab .tab-item:hover, .header__tab .tab-item:focus {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

.header__tab .tab-item__circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 14px;
}

@media screen and (max-width: 1140px) {
  .header__tab .tab-item__circle {
    display: none;
  }
}

.header__tab .tab-item__circle.active {
  background-color: white;
  -webkit-box-shadow: 0 0 10px 2px white;
          box-shadow: 0 0 10px 2px white;
}

.header__toggler {
  width: 35px;
  height: 22px;
  display: none;
  position: relative;
  z-index: 11;
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
  .header__toggler {
    display: block;
    margin: 14px auto;
  }
}

.header__toggler .toggler-line {
  width: 100%;
  height: 4px;
  background-color: white;
  display: block;
  border-radius: 5px;
  position: absolute;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__toggler .toggler-line:nth-child(1) {
  top: 0;
}

.header__toggler .toggler-line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header__toggler .toggler-line:nth-child(3) {
  bottom: 0;
}

.header__toggler--open .toggler-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(13px);
          transform: rotate(45deg) translateY(13px);
  margin-left: 9px;
  background-color: #232323;
}

.header__toggler--open .toggler-line:nth-child(2) {
  display: none;
}

.header__toggler--open .toggler-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-14px);
          transform: rotate(-45deg) translateY(-14px);
  margin-left: 9px;
  background-color: #232323;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1140px) {
  .header__social {
    display: none;
  }
}

.header__social .social-icon {
  width: 35px;
  height: 35px;
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px;
  margin: 0 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__social .social-icon:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-box-shadow: 0 0 10px 2px white;
          box-shadow: 0 0 10px 2px white;
  background-color: white;
}

.header__social .social-icon:hover .icon-fb {
  fill: #3a5898;
  stroke: #3a5898;
}

.header__social .social-icon:hover .icon-tw {
  fill: #55b7ff;
  stroke: #55b7ff;
}

.header__social .social-icon:hover .icon-inst {
  fill: #d92e7d;
  stroke: #d92e7d;
}

.header__social .social-icon .icon-fb,
.header__social .social-icon .icon-tw,
.header__social .social-icon .icon-inst {
  width: 13px;
  height: 13px;
  fill: white;
}

.main {
  padding: 50px 0 115px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

@media screen and (max-width: 1000px) {
  .main {
    background: #55b7ff;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 184, 255, 0.95)), to(rgba(127, 92, 253, 0.95))), url(../images/bg/bg-header-0.jpg);
    background-image: linear-gradient(90deg, rgba(85, 184, 255, 0.95) 0%, rgba(127, 92, 253, 0.95) 100%), url(../images/bg/bg-header-0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
  }
}

@media screen and (max-width: 660px) {
  .main {
    padding: 50px 0;
  }
}

@media screen and (max-width: 350px) {
  .main {
    padding: 30px 0;
  }
}

.main__title {
  text-align: center;
}

.main__title .title-head {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  .main__title .title-head {
    font-size: 60px;
  }
}

@media screen and (max-width: 660px) {
  .main__title .title-head {
    margin-top: 70px;
    font-size: 50px;
  }
}

@media screen and (max-width: 350px) {
  .main__title .title-head {
    font-size: 40px;
    margin-top: 50px;
  }
}

.main__title .subtitle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0 10px;
}

@media screen and (max-width: 1000px) {
  .main__title .subtitle {
    font-size: 14px;
    line-height: 20px;
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 660px) {
  .main__title .subtitle {
    font-size: 12px;
    max-width: 250px;
    line-height: 20px;
    margin: 0 auto;
  }
}

.main__circle-arrow {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  margin: 0 auto;
  margin-top: 200px;
  opacity: 0.7;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .main__circle-arrow {
    margin-top: 70px;
  }
}

@media screen and (max-width: 350px) {
  .main__circle-arrow {
    margin-top: 40px;
  }
}

.main__circle-arrow:hover {
  opacity: 1;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.main__circle-arrow .arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
}

.page-title {
  font-size: 44px;
  color: #2c4058;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 65px;
}

@media screen and (max-width: 660px) {
  .page-title {
    font-size: 30px;
    margin-bottom: 30px;
    padding: 30px;
  }
}

@media screen and (max-width: 540px) {
  .page-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 350px) {
  .page-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.page-title::before {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 0 auto;
  margin-bottom: 30px;
}

.page-title--weight {
  font-weight: 700;
}

@media screen and (max-width: 660px) {
  .page-title--weight {
    font-size: 30px;
    margin-bottom: 30px 0;
    padding-top: 0;
    margin-top: -250px;
  }
}

@media screen and (max-width: 540px) {
  .page-title--weight {
    font-size: 30px;
    margin-bottom: 30px 0;
    padding-top: 0;
    margin-top: -220px;
  }
}

@media screen and (max-width: 350px) {
  .page-title--weight {
    font-size: 30px;
    margin-bottom: 30px 0;
    padding-top: 0;
  }
}

.page-title--color {
  color: white;
  padding-top: 100px;
}

.page-title--color::before {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 660px) {
  .page-title--color {
    font-size: 30px;
    margin-bottom: 0;
    padding: 30px;
  }
}

.block-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 1310px) {
  .block-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 1310px) {
  .block-about--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

@media screen and (max-width: 660px) {
  .block-about--reverse {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1310px) {
  .block-about__image {
    max-width: 630px;
  }
}

@media screen and (max-width: 1310px) {
  .block-about__image img {
    width: 100%;
  }
}

.block-about__details {
  margin-left: 70px;
}

@media screen and (max-width: 1310px) {
  .block-about__details {
    margin: 0;
  }
}

.block-about__details--margin {
  margin-left: 0;
  margin-right: 70px;
}

@media screen and (max-width: 1310px) {
  .block-about__details--margin {
    margin: 0;
  }
}

.block-about__details .subtitle {
  color: #2c4058;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.block-about__details .title {
  color: #2c4058;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 350px) {
  .block-about__details .title {
    font-size: 27.5px;
  }
}

.block-about__details .description {
  color: #4b5562;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 20px 0;
}

@media screen and (max-width: 1310px) {
  .block-about__details .description {
    max-width: 600px;
    margin: 20px auto;
  }
}

.block-about__details .button {
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  background-color: transparent;
  font-size: 14px;
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  margin: 10px 0 50px 0;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease,-webkit-box-shadow .3s ease;
}

@media screen and (max-width: 480px) {
  .block-about__details .button {
    width: 100%;
  }
}

.block-about__details .button:hover {
  -webkit-transform: translateY(-0.125em);
          transform: translateY(-0.125em);
  -webkit-box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
}

.block-about__details .location-name {
  color: #2c4058;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 18px;
}

@media screen and (max-width: 1310px) {
  .block-about__details .location-name {
    margin-bottom: 20px;
  }
}

.block-about__details .location-name i {
  margin-right: 10px;
}

.block-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 210px;
}

@media screen and (max-width: 1000px) {
  .block-slider {
    display: none;
  }
}

.block-slider__item {
  background-color: white;
  word-wrap: break-word;
  margin: 0 11px;
}

.block-slider__item img {
  width: 100%;
  max-height: 240px;
}

.block-slider__item .slider-img {
  max-width: 370px;
}

.block-slider__item .slider-info {
  padding: 20px 20px 30px 20px;
}

.block-slider__item .slider-info__title {
  color: #2c4058;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
  padding-bottom: 10px;
}

.block-slider__item .slider-info__description {
  color: #4b5562;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px;
}

.block-slider__item .slider-info__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-slider__item .slider-info__author .profile-photo {
  width: 60px;
  height: 60px;
}

.block-slider__item .slider-info__author .profile-photo img {
  width: 100%;
}

.block-slider__item .slider-info__author .profile-info {
  margin: 0 20px;
}

.block-slider__item .slider-info__author .profile-info__name {
  color: #2c4058;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.block-slider__item .slider-info__author .profile-info__date {
  color: #55b7ff;
  font-size: 14px;
}

#news-mini {
  display: none;
  max-width: 368px;
}

@media screen and (max-width: 1000px) {
  #news-mini {
    display: block;
    max-width: 370px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  #news-mini {
    max-width: 400px;
  }
}

#news-mini img {
  width: 100%;
}

.block-gallery {
  text-align: center;
}

.block-gallery__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1210px) {
  .block-gallery__images {
    display: block;
  }
}

.block-gallery__images .main-img {
  margin-right: 10px;
}

@media screen and (max-width: 1210px) {
  .block-gallery__images .main-img {
    margin: 0;
  }
}

.block-gallery__images .main-img img {
  margin-bottom: 6px;
}

@media screen and (max-width: 610px) {
  .block-gallery__images .main-img img {
    width: 100%;
  }
}

.block-gallery__images .smaller-img__top {
  margin-bottom: 6px;
}

@media screen and (max-width: 60px) {
  .block-gallery__images .smaller-img__top {
    margin: 0;
  }
}

.block-gallery__images .smaller-img__top img {
  margin-bottom: 6px;
}

@media screen and (max-width: 610px) {
  .block-gallery__images .smaller-img__top img {
    width: 100%;
  }
}

.block-gallery__images .smaller-img__top .top-row {
  margin-right: 6px;
}

@media screen and (max-width: 610px) {
  .block-gallery__images .smaller-img__top .top-row {
    margin: 0;
    margin-bottom: 10px;
  }
}

.block-gallery__images .smaller-img__bottom {
  margin-bottom: 6px;
}

@media screen and (max-width: 610px) {
  .block-gallery__images .smaller-img__bottom {
    margin: 0;
    width: 100%;
  }
}

.block-gallery__images .smaller-img__bottom img {
  margin-bottom: 6px;
}

@media screen and (max-width: 610px) {
  .block-gallery__images .smaller-img__bottom img {
    width: 100%;
  }
}

.block-gallery__images .smaller-img__bottom .bottom-row {
  margin-right: 6px;
}

@media screen and (max-width: 610px) {
  .block-gallery__images .smaller-img__bottom .bottom-row {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}

.block-gallery__button {
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  background-color: transparent;
  font-size: 14px;
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 140px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease,-webkit-box-shadow .3s ease;
}

@media screen and (max-width: 480px) {
  .block-gallery__button {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .block-gallery__button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.block-gallery__button:hover {
  -webkit-transform: translateY(-0.125em);
          transform: translateY(-0.125em);
  -webkit-box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
}

.block-active {
  padding: 10px;
  display: none;
  text-align: center;
}

.block-active__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 660px) {
  .block-active__images {
    display: block;
  }
}

.block-active__images .column-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 580px;
  margin-right: 10px;
}

.block-active__images .column-img:last-child {
  margin-right: 0;
}

.block-active__images .column-img img {
  width: 100%;
  min-height: 414px;
  margin-bottom: 10px;
}

.block-active__images .column-img__child {
  max-height: 626px;
}

.block-active__button {
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  background-color: transparent;
  font-size: 18px;
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 140px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease,-webkit-box-shadow .3s ease;
}

@media screen and (max-width: 480px) {
  .block-active__button {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .block-active__button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.block-active__button:hover {
  -webkit-transform: translateY(-0.125em);
          transform: translateY(-0.125em);
  -webkit-box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
}

.footer {
  max-width: 770px;
  margin: 0 auto;
  padding: 200px 0 140px 0;
  position: relative;
}

@media screen and (max-width: 580px) {
  .footer {
    padding: 200px 0 50px 0;
  }
}

.footer__touch {
  width: 100%;
  background: white;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.93) 0%, rgba(255, 255, 255, 0.93) 100%), url(../images/bg/get-touch-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 50px 0;
  position: absolute;
  left: 0;
  top: -300px;
  margin: 20px 0;
}

@media screen and (max-width: 660px) {
  .footer__touch .touch-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 540px) {
  .footer__touch .touch-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  .footer__touch .touch-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.footer__touch .touch-title--reset {
  font-size: 44px;
  color: #2c4058;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.footer__touch .touch-title::before {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer__touch .touch-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 35px 0;
}

@media screen and (max-width: 700px) {
  .footer__touch .touch-info {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.footer__touch .touch-info__contacts {
  margin-right: 50px;
}

.footer__touch .touch-info__contacts .data {
  color: #2c4058;
  font-size: 18px;
  padding-bottom: 35px;
}

.footer__touch .touch-info__contacts .data i {
  color: #7e5cfd;
  margin-right: 10px;
  font-size: 15px;
}

.footer__touch .touch-info__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media screen and (max-width: 700px) {
  .footer__touch .touch-info__form {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.footer__touch .touch-info__form .name {
  width: 100%;
  height: 50px;
  margin-bottom: 35px;
  margin-top: -15px;
  border: none;
  border-bottom: 1px solid #2c4058;
  opacity: 0.5;
  background-color: transparent;
  font-size: 18px;
}

.footer__touch .touch-info__form .name:focus {
  opacity: 1;
}

.footer__touch .touch-info__form .button {
  width: 140px;
  height: 50px;
  border: 1px solid #2c4058;
  background-color: transparent;
  font-size: 14px;
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease,-webkit-box-shadow .3s ease;
}

@media screen and (max-width: 700px) {
  .footer__touch .touch-info__form .button {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .footer__touch .touch-info__form .button {
    width: 100%;
  }
}

.footer__touch .touch-info__form .button:hover {
  -webkit-transform: translateY(-0.125em);
          transform: translateY(-0.125em);
  -webkit-box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .footer__info {
    padding: 250px 0 0 0;
  }
}

@media screen and (max-width: 580px) {
  .footer__info {
    display: block;
    text-align: center;
  }
}

.footer__info .info-brand {
  padding: 0 15px;
}

@media screen and (max-width: 400px) {
  .footer__info .info-brand {
    padding-top: 20px;
  }
}

@media screen and (max-width: 370px) {
  .footer__info .info-brand {
    padding-top: 90px;
  }
}

@media screen and (max-width: 350px) {
  .footer__info .info-brand {
    padding-top: 150px;
  }
}

.footer__info .info-brand__logo {
  padding-bottom: 40px;
  cursor: pointer;
}

.footer__info .info-brand__copyrights {
  line-height: 40px;
}

.footer__info .info-brand__copyrights .author-signature {
  display: inline-block;
  border-right: 1px solid white;
  padding-right: 20px;
  font-size: 14px;
  font-family: "Gotham", sans-serif;
}

.footer__info .info-brand__copyrights .author-name {
  padding-left: 20px;
  font-size: 14px;
  font-family: "Gotham", sans-serif;
}

.footer__info .info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

@media screen and (max-width: 580px) {
  .footer__info .info-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
}

.footer__info .info-social__item {
  width: 35px;
  height: 35px;
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.63);
  border-radius: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px;
  margin: 0 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer__info .info-social__item:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-box-shadow: 0 0 10px 2px white;
          box-shadow: 0 0 10px 2px white;
  background-color: white;
}

.footer__info .info-social__item:hover .icon-fb {
  fill: #3a5898;
  stroke: #3a5898;
}

.footer__info .info-social__item:hover .icon-tw {
  fill: #55b7ff;
  stroke: #55b7ff;
}

.footer__info .info-social__item:hover .icon-inst {
  fill: #d92e7d;
  stroke: #d92e7d;
}

.footer__info .info-social__item .icon-fb,
.footer__info .info-social__item .icon-tw,
.footer__info .info-social__item .icon-inst {
  width: 13px;
  height: 13px;
  fill: white;
}

#map {
  height: 700px;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */